body {
    background-color: #1d1d1f;
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.link {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.input {
    display: block;
    width: 100%;
    padding: 2em;
    margin-bottom: 100px;
    font-size: inherit;
}

.button {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
    color: inherit;
    margin-bottom: 100px;
    width: 100%;
}

/* ======================================================== */


.link:hover {
    background: rgb(207, 231, 171);
    font-family: cursive;
    transform: translatey(100px) rotate(75deg);
    
}

.link:active {
    font-size: 50px;    
    color: pink;
    background: aqua;
}

.block__title:hover {
    color: red;
    font-size: 50px;
}

.button:active {
    background: brown
}

:focus {
    box-shadow: 0 0 20px 20px rebeccapurple;
}

.input:focus{
    box-shadow: 0 0 20px 20px rgb(0, 128, 53);
}

.list__item:first-child{
    color: green;
}

.list__item:last-child{
    color: black;
}

.list__item:nth-child(2){
    color: darkcyan;
}
.list__item:nth-child(4){
    color: darkred;
}
